@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');
H1 { text-align: center }
H2 { text-align: center }
H3 { text-align: center }
H4 { text-align: center }
H5 { text-align: center }
H6 { text-align: center }
a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
a:active {
  color: #043081; 
  border-bottom: 1px dashed;
}
a {
text-decoration: none;
}
body {
  font-family:'PT Sans', sans-serif;
}
a {
  color:red;
}